<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="content">
    <div class="container">
        <div class="main-container">
            <div class="row justify-content-around main-table">
                <div class="col-lg-6">
                    <table class="table table-hover">
                        <thead class="table-borderless">
                            <tr>
                                <td class="h5 font-weight-bold">쌈구경</td>
                                <td colspan="3" class="text-right">더보기</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3">통일되면 뭐해야 함??</td>
                            <td>
                                <div class="float-right">
                                    100 / 12
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">추석 친척간 행동강령</td>
                            <td>
                                <div class="float-right">
                                    300 / 120
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">종부세 씨발 이거 머냐</td>
                            <td>
                                <div class="float-right">
                                    100 / 2
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-hover">
                        <thead class="table-borderless">
                        <tr>
                            <td class="h5 font-weight-bold">정치</td>
                            <td colspan="3" class="text-right">더보기</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3">청와대에서 사케를 사먹엇다고??</td>
                            <td>
                                <div class="float-right">
                                    100 / 12
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">북으로 가즈아</td>
                            <td>
                                <div class="float-right">
                                    300 / 120
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">알고보니 갓럼프네 ㅅㅂ</td>
                            <td>
                                <div class="float-right">
                                    100 / 2
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-around main-table">
                <div class="col-lg-6">
                    <table class="table table-hover">
                        <thead class="table-borderless">
                        <tr>
                            <td class="h5 font-weight-bold">게임</td>
                            <td colspan="3" class="text-right">더보기</td>
                        </tr>
                        </thead>
                        <tbody class="text-xl-left">
                        <tr>
                            <td colspan="3">[PS4] 스파이더맨 돌아다니는게 젤 잼나네</td>
                            <td>
                                <div class="float-right">
                                    100 / 12
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">에픽세븐 뽑기 씨바류ㅠㅠ</td>
                            <td>
                                <div class="float-right">
                                    300 / 120
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">피온4 금카 인증</td>
                            <td>
                                <div class="float-right">
                                    100 / 2
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-hover">
                        <thead class="table-borderless">
                        <tr>
                            <td class="h5 font-weight-bold">자유</td>
                            <td colspan="3" class="text-right">더보기</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3">아이폰과 갤럭시를 제대로 비교해보자</td>
                            <td>
                                <div class="float-right">
                                    100 / 12
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">커피 싸게 먹는 법</td>
                            <td>
                                <div class="float-right">
                                    300 / 120
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">백종원의 혈압식당</td>
                            <td>
                                <div class="float-right">
                                    100 / 2
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="summernote">Hello Summernote</div>-->
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
//        ajaxCall('/getInfo',
//            {},
//            function(_jqXHR){
//                console.log(_jqXHR.responseText)
//                $('#testTr').click(function(){
//                    alert('click')
//                })
//            },
//            function(_jqXHR){
//                console.log(_jqXHR.responseText)
//            })
        userModule.init(function () {

        });
    });

</script>
</html>