<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>
        <div th:fragment="header">
            <div id="header" class="w-100">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="navbar-brand" href="/heresy/home">3Caliber</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" id="headNav">
                            <li class="nav-item">
                                <a class="nav-link" href="/heresy/caliber/board?page=1">쌈구경</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/heresy/politics/board?page=1">정치</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/heresy/free/board?page=1">자유</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/heresy/game/board?page=1">게임</a>
                            </li>
                        </ul>

                        <div class="logout-profile off">
                            <button class="btn btn-outline-light"
                                    type="button"
                                    data-toggle="modal"
                                    data-target="#loginModal">
                                로그인
                            </button>
                            <a class="btn btn-outline-light" role="button" href="/heresy/member/signup">
                                회원가입
                            </a>
                        </div>

                        <div class="login-profile off">
                            <img th:src="@{/img/avatar.png}" alt="Avatar" class="login-avatar">
                            <div class="login-name">
                                <span id="login-id"></span>
                            </div>
                            <button id="logoutBtn" class="btn btn-success my-2 my-sm-0" type="button">로그아웃</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">
                                            Sign-In
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body container">
                                        <div class="form-inline my-2 my-lg-0 logout-profile off">
                                            <div class="row">
                                                <div class="col">
                                                    아이디
                                                </div>
                                                <div class="col">
                                                    <input id="loginId" class="form-control mr-sm-2" type="search" placeholder="아이디" aria-label="아이디">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    패스워드
                                                </div>
                                                <div class="col">
                                                    <input id="loginPwd" class="form-control mr-sm-2" type="search" placeholder="패스워드" aria-label="패스워드">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <button id="loginBtn" type="button" class="btn btn-primary">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <script th:inline="javascript">
                $(document).ready(function(){
                    console.log($)
                })
            </script>
        </div>
    </body>
</html>
