<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="container">
    <div class="border" style="margin-top:100px;">
    <div class="row justify-content-start">
        <div class="col-4">
            비밀번호확인
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-10" style="margin-top:10px">
            회원님의 개인정보 보호를 위해 비밀번호를 다시 입력해줏세용.
        </div>
    </div>
    <div class="row justify-content-center">
        <table class="table table-bordered" style="width: 420px; margin-top:10px;">
            <tbody>
            <tr>
                <td style="width:120px">비밀번호확인</td>
                <td style="width:300px"><input style="width:100%" class="password" /></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <button>확인</button>
    </div>
    </div>
</div>
</body>
<script th:inline="javascript">
</script>

</html>