<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="content">
    <div class="container">
        <div class="row mt-3 ml-1">
            <div class="col">
                <div class="h2 font-weight-bold">정치</div>
            </div>
            <div class="col align-self-center">
                <button type="button" class="btn btn-outline-dark btn-sm float-right" id="boardWriteBtn"
                        onclick="location.href = '/heresy/politics/write'">글쓰기</button>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col board">
                <table class="table table-hover table-sm">
                    <thead class="table-borderless text-center">
                        <tr id="tableHead">
                            <td scope="col" class="tcb-board-no" id="articleIdx">번호</td>
                            <td scope="col" class="tcb-board-title" id="title">제목</td>
                            <td scope="col" id="userNickName">작성자</td>
                            <td scope="col" id="good">추천</td>
                            <!--<td scope="col" id="bad">DisLike</td>-->
                            <td scope="col" id="createDate">작성일</td>
                        </tr>
                    </thead>
                    <tbody id="tableContent" class="text-center">

                    </tbody>
                </table>
            </div>

        </div>

        <div class="row">
            <div class="col justify-content-center paging">
                <ul class="pagination justify-content-center" id="pagination">
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">



</script>
<script th:inline="javascript">
    $(document).ready(function(){

        var url = new URL(window.location.href);
        var currentPage = url.searchParams.get("page");

        var pageView = function(user){
          if(user){
              $('#boardWriteBtn').css('display','block');
          }else{
              $('#boardWriteBtn').css('display','none');
          }
        };

        var drawTable = function(){
            ajaxCall(
                '/board/getAllArticle'
                , {
                    data : {
                        pageSize : 20,
                        currentPage : currentPage
                    }
                }
                , function (data, jqXHR) {

                    if($('#tableContent').children()){
                        $('#tableContent').empty();
                    }

                    var rows = makeTableRow(data.contentList);
                    rows.map(function (row) {
                        $('#tableContent').append(row);
                    });

                    var pagination = makePagination(data.pagination, currentPage);
                    $('#pagination').append(pagination);

                    var linkTo = function(event){
                        location.href = "/heresy/politics/view?id=" + $(this).attr('id');
                    };
                    $('.list_link_to').click(linkTo)
                }
                , function (jqXHR) {
                    console.log(jqXHR);
                }
            );
        };

        userModule.init(pageView).then(function(user){
            console.log(user);
            drawTable();
        });
    });
</script>
</html>