<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="content">
    <div class="container">
        <div style="height:900px">
            <div style="height :50px; padding : 21px; font-size :18px">
                <span style="display :inline-block; width:80%;"} id="articleTitle">

                </span>
                <span style="display :inline-block; width : 15%;
                            font-size : 13px; text-align : right" id="articleTime">

                </span>
            </div>
            <div style="height :500px;
                    border-bottom : 2px solid #ababab;
                    border-top : 2px solid #ababab;
                    padding : 40px">
                <div style="height :400px" id="articleContent">

                </div>
                <div style="text-align :center">
                    <button class="articleBtn btn btn-dark" type="button">
                        Like
                    </button>
                    <button class="articleBtn btn btn-dark" type="button">
                        Dislike
                    </button>
                    <button class="articleBtn btn btn-dark rewrite_link_to" type="button">
                        수정
                    </button>
                    <button class="articleBtn btn btn-dark" id="deleteBtn" type="button">
                        삭제
                    </button>
                    <button class="articleBtn btn btn-dark list_link_to" type="button">
                        목록으로
                    </button>
                </div>
            </div>
            <div style="height :300px;
                    border-bottom : 2px solid #ababab;
                    padding : 20px 40px 40px 40px;
                    overflow-y: scroll">
                <div style="margin-bottom: 20px;">
                    <input type="text" style="width:88.9%; display: inline-block;"
                           class="form-control"
                           id="commentContent"
                           aria-describedby="emailHelp" placeholder="댓글을 입력하세요">
                    <button class="articleBtn btn btn-dark" type="button" id="commentWriteBtn">
                        작성
                    </button>
                </div>
                <ul class="comments" id="commentsView">
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){

        var pageView = function(user){
            $('.list_link_to').click(function(){
                location.href = getMidPath() + 'board?page=1';
            });

            $('.rewrite_link_to').click(function(event){
                location.href = getMidPath() + "rewrite?id="+getUrlParameter('id');
            });

            getOneArticle('/board/getOneArticle','/basicComment/selectAll');

            if(user){
                $('#deleteBtn').click(function () {
                    deleteArticle('/board/delete')
                });

                var commentData = {
                    articleIdx : getUrlParameter('id')
                };

                $('#commentWriteBtn').click(function(){
                    commentData.comment = $('#commentContent').val();
                    writeComment('/basicComment/Write', commentData, '/basicComment/selectAll');

                });

                $('#commentContent').keypress(function(e){
                    if(e.which === 13){
                        commentData.comment = $('#commentContent').val();
                        writeComment('/basicComment/Write', commentData, '/basicComment/selectAll');
                        return false;
                    }
                });
            }

        };

        userModule.init(pageView)
    });
</script>
</html>