<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heresy.mapper.UserMapper">
    <select id="selectOneWithCount" parameterType="Integer" resultType="com.heresy.domain.user.UserWithCount">
        SELECT
        a.userIdx,
        userId,
        userNickName,
        experience,
        tendency,
        introduction,
        authSnsId,
        createDate,
        b.agendaArticleCount,
        c.basicArticleCount,
        d.agendaCommentCount,
        e.basicCommentCount
        FROM USER a
        left join (
            select count(*) as agendaArticleCount, userIdx
            from AgendaAndDebateBoardArticle
            where userIdx = #{userIdx}) b on a.userIdx = b.userIdx
        left join (
            select count(*) as basicArticleCount, userIdx
            from BasicBoardArticle
            where userIdx = #{userIdx}) c on a.userIdx = c.userIdx
        left join (
            select count(*) as agendaCommentCount, userIdx
            from AgendaAndDebateBoardCommet
            where userIdx = #{userIdx}) d on a.userIdx = d.userIdx
        left join (
            select count(*) as basicCommentCount, userIdx
            from BasicBoardComment
            where userIdx = #{userIdx}) e on a.userIdx = e.userIdx
        WHERE a.userIdx = #{userIdx}
    </select>

    <select id="selectOneByUserId" parameterType="String" resultType="com.heresy.domain.user.User">
        SELECT
            userIdx,
            userId,
            userNickName,
            experience,
            tendency,
            introduction,
            authSnsId,
            createDate
        FROM USER
        WHERE userId = #{userId}
    </select>

    <select id="selectOneByNickName" parameterType="String" resultType="com.heresy.domain.user.User">
        SELECT
            userIdx,
            userId,
            userNickName,
            experience,
            tendency,
            introduction,
            authSnsId,
            createDate
        FROM USER
        WHERE userNickName = #{userNickName}
    </select>

    <select id="selectPasswordByUserIdx" parameterType="Integer" resultType="String">
        SELECT
          password
        FROM USER
        WHERE userIdx = #{userIdx}
    </select>

    <insert id="insert" parameterType="com.heresy.domain.user.User">
        INSERT INTO USER
            (
            userIdx,
            userId,
            userNickName,
            password,
            experience,
            tendency,
            introduction,
            authSnsId,
            createDate,
            updateDate
            )
        VALUES (
              (select ifnull(max(a.USERIDX), 0)+1 from USER a)
            , #{userId}
            , #{userNickName}
            , #{password}
            , #{experience}
            , #{tendency}
            , #{introduction}
            , #{authSnsId}
            , CURRENT_TIMESTAMP()
            , CURRENT_TIMESTAMP()
            )
    </insert>

    <!--<update id="update" parameterType="map">
        UPDATE
              USER
        SET password = #{encodedPassword}
        WHERE userIdx = #{userIdx}
    </update>-->

    <update id="updateUserPassword" parameterType="Map">
        UPDATE
              USER
        SET password = #{encodedPassword}
        WHERE userIdx = #{userIdx}
    </update>

    <update id="updateUserNickName" parameterType="Map">
         UPDATE
              USER
        SET userNickName = #{userNickName}
        WHERE userIdx = #{userIdx}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE
        FROM
          USER
        WHERE userIdx = #{userIdx}
    </delete>

</mapper>