#header > nav{
    height : 80px;
    width:1600px;
    background-color: #4a4a4a !important;
    margin : 0 auto;
}

#header > nav > a {
    color : white !important;
    font-size : 30px;
    font-weight: bolder;
}

#header .nav-link{
    color : white !important;
    margin-left: 20px;
    font-size : 20px;
    font-weight: bolder;
}

#header .nav-item.active > a{
    color : orange !important;
}

.content{
    width:1600px;
    height:900px;
    /*background-color: #cbcbcb;*/
    margin : 0 auto;

}

.content .container .main-container{
    padding-top: 100px; !important;
}

.content .container .main-container .main-table{
    height: 300px;
    margin-bottom: 50px;
}

/*articleArea*/
.articleBtn {
    width : 100px;
    margin-left: 10px;
}

/*avatar*/
.login-profile{
    width:200px;
    color:white;
}
.login-profile > .login-avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float:left;
}

.login-profile > .login-name {
    width:80px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bolder;
    float : left;
}