<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="content" style="height:1300px;">
    <div class="container">
        <div style="height:900px">
            <div style="height :50px; padding : 21px; font-size :28px; font-weight: bolder">
                <span style="display :inline-block; width:80%;"} id="articleTitle">

                </span>
                <span style="display :inline-block; width : 15%;
                            font-size : 13px; text-align : right" id="articleTime">

                </span>
            </div>
            <div style="height :485px;
                    padding : 40px">
                <div style="height :150px; font-size: 20px;" id="articleContent">

                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <div class="card" style="box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.1);">
                            <div class="card-header" style="font-weight: bolder; font-size: 20px;">
                                의견
                            </div>
                            <div class="card-body">
                                <textarea class="form-control"
                                          id="commentCon"
                                          rows="3"
                                          style="resize: none;"
                                          placeholder="의견을 올려주세요">

                                </textarea>
                            </div>
                            <div class="card-footer text-muted">
                                <div style="text-align: right;">
                                    <button class="articleBtn btn btn-outline-secondary btn-sm list_link_to" type="button">
                                        취소
                                    </button>
                                    <button class="articleBtn btn btn-primary btn-sm" type="button">
                                        찬성
                                    </button>
                                    <button class="articleBtn btn btn-danger btn-sm" type="button">
                                        반대
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height :500px;
                    padding : 0px 40px 0px 40px;
                    overflow-y: scroll">

                <div class="row no-gutters" style="height: 100%;">
                    <div class="col"
                         style="background-color: rgba(0, 0, 0, 0.03);
                                margin-right: 20px; padding : 10px;">
                        <div id="posi-title">
                            <span>찬성</span> | 현재 <span></span>개 의견
                        </div>
                        <div id="posi-content">

                        </div>
                    </div>
                    <div class="col"
                         style="background-color: rgba(0, 0, 0, 0.03);
                                margin-right: 20px; padding : 10px;">
                        <div class="row no-gutters" style="height : 50%;">
                            <div id="best-title">
                                Best
                            </div>
                            <div id="best-content">

                            </div>
                        </div>
                        <div class="row no-gutters" style="height : 50%;">
                            <div id="worst-title">
                                Worst
                            </div>
                            <div id="worst-content">

                            </div>
                        </div>
                    </div>
                    <div class="col"
                         style="background-color: rgba(0, 0, 0, 0.03);
                                padding : 10px;">
                        <div id="nega-title">
                            <span>반대</span> | 현재 <span></span>개 의견
                        </div>
                        <div id="nega-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
        var linkTo = function(event){
            location.href = "/heresy/politics/rewrite"
        };

        var url = new URL(window.location.href);
        var articleIdx = url.searchParams.get("id");

        var writeComment = function(){
            var commentData = {
                articleIdx : articleIdx,
                comment : $('#commentContent').val()
            };
            userModule
                .firebase
                .auth()
                .currentUser
                .getIdToken(true)
                .then(function(firebaseIdToken) {
                    console.log(firebaseIdToken)
                    ajaxCall(
                        '/basicComment/Write'
                        ,{
                            method : 'post',
                            data : JSON.stringify(commentData),
                            idToken : firebaseIdToken
                        }
                        ,function(data,jqXHR){
                            makeCommentView();
                        }
                        ,function(jqXHR){
                            console.log(jqXHR);
                            alert("server error")
                        }
                    )
                })
                .catch(function(error) {
                    // Handle error
                    alert('firebase token getting error')
                });
        };
        var reWriteComment = function(){
            var recommentData = {
                articleIdx : articleIdx,
                comment : $(this).parent().find('input').val(),
                groupNum : $(this).parent().data('groupNum'),
                depth: $(this).parent().data('depth')+1,
                sequence : $(this).parent().data('sequence')
            };

            userModule
                .firebase
                .auth()
                .currentUser
                .getIdToken(true)
                .then(function(firebaseIdToken) {
                    console.log(firebaseIdToken)
                    ajaxCall(
                        '/basicComment/Rewrite'
                        ,{
                            method : 'post',
                            data : JSON.stringify(recommentData),
                            idToken : firebaseIdToken
                        }
                        ,function(data,jqXHR){
                            makeCommentView();
                        }
                        ,function(jqXHR){
                            console.log(jqXHR);
                            alert("server error")
                        }
                    )
                })
                .catch(function(error) {
                    // Handle error
                    alert('firebase token getting error')
                });
        };

        var makeCommentView = function(){
            ajaxCall(
                '/basicComment/selectAll'
                , {data:{articleIdx : articleIdx}}
                , function (data, jqXHR) {
                    var commentsView = $('#commentsView');
                    if(commentsView.children()){
                        commentsView.empty();
                    }

                     data.map(function(comment){

                        var li = $(document.createElement('li')).attr({
                            'class' : comment.depth === 0? 'comment' : 'comment level-'+(comment.depth+1)
                        });

                        var photo = $(document.createElement('a')).attr({
                            href : 'javascript:void(0)',
                            title : 'profile',
                            class : 'photo'
                        });

                        var img = $(document.createElement('img')).attr({
                            src : 'https://placehold.it/32x32',
                            alt : comment.userIdx
                        });
                        photo.append(img);

                        var meta = $(document.createElement('div')).attr({
                            class : 'meta'
                        }).text(comment.userIdx + ' | ' + parseTime(comment.createDate));

                        var reply = $(document.createElement('a')).attr({
                            class : 'reply'
                        }).text('Reply');
                        //meta.append(reply);

                        var body = $(document.createElement('div')).attr({
                            class : 'body'
                        }).text(comment.comment);

                        var reWriteArea = $(document.createElement('div')).attr({
                            style : 'margin-top: 20px;'
                        }).data({
                            'groupNum' : comment.groupNum,
                            'depth'    : comment.depth,
                            'sequence' : comment.sequence
                        });

                        var reWriteInput = $(document.createElement('input')).attr({
                            type                : 'text' ,
                            style               : 'width:85%; display: inline-block;',
                            class               : 'form-control',
                            id                  : 'recommentContent',
                            'aria-describedby'  : 'recomment' ,
                            placeholder         : '대댓글을 입력하세요'
                        }).keypress(function(e){
                            if (e.which === 13) {
                                console.log(this)
                                reWriteComment.call(this)
                                return false;    //<---- Add this line
                            }
                        });

                         var reWriteButton = $(document.createElement('button')).attr({
                             class : 'articleBtn btn btn-dark',
                             type  : 'button'
                         }).text('작성').click(reWriteComment);
                         reWriteArea.append(reWriteInput).append(reWriteButton);

                         commentsView.append(li.append(photo).append(meta).append(body).append(reWriteArea));
                    });
                }
                , function (jqXHR) {
                    alert("server comment return error");
                }
            );
        };

        userModule.init().then(function (user) {
            $('.list_link_to').click(function(){ location.href = '/heresy/politics/board?page=1'});
            ajaxCall(
                '/agendaBoard/getOneArticle'
                , {data:{articleIdx : articleIdx}}
                , function (data, jqXHR) {

                    $('.rewrite_link_to').click(linkTo);
                    $('#articleTitle').text(data.title);

                    $('#articleTime').text(parseTime(data.createDate));

                    var content = $.parseHTML(data.content);
                    $('#articleContent').append(content)

                    makeCommentView();
                }
                , function (jqXHR) {
                    alert("server view return error");
                }
            );

            $('#commentWriteBtn').click(writeComment);
            $('#commentContent').keypress(function(e){
                if(e.which === 13){
                    writeComment();
                    return false;
                }
            });
        });
    });
</script>
</html>