<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="content agenda-board">
    <div class="container">
        <div style="height:900px">
            <div style="height :50px; padding : 21px; font-size :28px; font-weight: bolder">
                <span style="display :inline-block; width:80%;"} id="articleTitle">

                </span>
                <span style="display :inline-block; width : 15%;
                            font-size : 13px; text-align : right" id="articleTime">

                </span>
            </div>
            <div style="height :485px;
                    padding : 40px">
                <div style="height :150px; font-size: 20px;" id="articleContent">

                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <div class="card" style="box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.1);">
                            <div class="card-header" style="font-weight: bolder; font-size: 20px;">
                                의견
                            </div>
                            <div class="card-body">
                                <textarea class="form-control"
                                          id="commentContent"
                                          rows="3"
                                          style="resize: none;"
                                          placeholder="의견을 올려주세요"></textarea>
                            </div>
                            <div class="card-footer text-muted">
                                <div style="text-align: right;">
                                    <button class="articleBtn btn btn-outline-secondary btn-sm list_link_to" type="button">
                                        취소
                                    </button>
                                    <button class="articleBtn btn btn-primary btn-sm" type="button" id="writePosiBtn">
                                        찬성
                                    </button>
                                    <button class="articleBtn btn btn-danger btn-sm" type="button" id="writeNegaBtn">
                                        반대
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="debate-wrapper">
                <div class="row no-gutters">
                    <!--찬성-->
                    <div class="col debate-section">
                        <div id="posi-title">
                            <span>찬성</span> | 현재 <span id="posiCommentsSize"></span>개 의견
                        </div>
                        <div id="posiContent">

                        </div>
                    </div>
                    <!--best-->
                    <div class="col debate-section">
                        <div class="row no-gutters" style="height : 50%;">
                            <div class="col">
                                <div class="row">
                                    <div class="col" id="best-title">
                                        Best
                                    </div>
                                </div>
                                <div id="bestContent">
                                    <!--<div class="row debate-content-row">
                                        <div class="col-12">
                                            <div class="row debate-content-title">
                                                <div class="col-12">
                                                    <span>id</span>
                                                    <span id="debate-content-title-date">2018.08.14</span>
                                                </div>
                                            </div>
                                            <div class="row debate-content-body">
                                                <div class="col-8 col-no-padding-right">
                                                    <div class = "debate-content-body-text"
                                                    >너희가 하는게 뭐냐 야이 나븐놈아 야이 나븐놈아 야이 나븐놈아</div>
                                                </div>
                                                <div class="col-4 debate-content-body-buttons" >
                                                    <img th:src="@{/img/blankUp.png}" alt="like">
                                                    <img th:src="@{/img/blankDown.png}" alt="dislike">
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters" style="height : 50%;">
                            <div id="worst-title">
                                Worst
                            </div>
                            <div id="worstContent"></div>
                        </div>
                    </div>
                    <!--반대-->
                    <div class="col debate-section">
                        <div id="nega-title">
                            <span>반대</span> | 현재 <span id="negaCommentsSize"></span>개 의견
                        </div>
                        <div id="negaContent">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
        var linkTo = function(event){
            location.href = "/heresy/caliber/rewrite"
        };

        var url = new URL(window.location.href);
        var articleIdx = url.searchParams.get("id");
        var agendaComment = null;

        var makeCommentRow = function (comment) {

            var contentTitle = makeElement('span').text(comment.userIdx);
            var contentCreateDate = makeElement('span', {id: 'debate-content-title-date'}).text(parseDateWithTime(comment.createDate));
            var contentTitleCol = makeElement('div', {
                class: 'col-12'
            });

            var contentTitleRow = makeElement('div', {
                class: 'row debate-content-title'
            });

            var firstRow = contentTitleRow.append(contentTitleCol.append(contentTitle).append(contentCreateDate));

            var contentBodyText = makeElement('div', {
                class: 'debate-content-body-text'
            }).append($.parseHTML(comment.comment));

            var contentBodyCol = makeElement('div', {
                class: 'col-8 col-no-padding-right'
            });


            var contentButtonsLikeImg = makeElement('img', {
                src: "/img/blankUp.png",
                alt: "like"
            });

            var contentButtonsDislikeImg = makeElement('img', {
                src: "/img/blankDown.png",
                alt: "dislike"
            });

            var contentButtonsCol = makeElement('div', {
                class: 'col-4 debate-content-body-buttons'
            });


            var contentButtonsRow = makeElement('div', {
                class: 'row debate-content-body',
            });

            var secondRow = contentButtonsRow
                .append(contentBodyCol.append(contentBodyText))
                .append(contentButtonsCol.append(contentButtonsLikeImg).append(contentButtonsDislikeImg));

            var contentCol = makeElement('div', {
                class: 'col-12'
            });

            var contentRow = makeElement('div', {
                class: 'row debate-content-row',
                id: '',
                commentIdx : comment.commentIdx
            });

            var totalCommentContent = contentRow.append(contentCol.append(firstRow).append(secondRow));
            return totalCommentContent;
        };

        var writeComment = function(){
            var _type = this.id.indexOf('Posi') > 0 ? 'P' : 'N';
            var commentData = {
                articleIdx : articleIdx,
                comment : $('#commentContent').val(),
                type : _type
            };
            userModule
                .firebase
                .auth()
                .currentUser
                .getIdToken(true)
                .then(function(firebaseIdToken) {
                    console.log(firebaseIdToken)
                    ajaxCall(
                        '/agendaComment/Write'
                        ,{
                            method : 'post',
                            data : JSON.stringify(commentData),
                            idToken : firebaseIdToken
                        }
                        ,function(data,jqXHR){
                            $('#commentContent').val('');
                            makeCommentView();
                        }
                        ,function(jqXHR){
                            console.log(jqXHR);
                            alert("writeComment server error")
                        }
                    )
                })
                .catch(function(error) {
                    // Handle error
                    alert('writeComment firebase token getting error')
                });
        };

        /*type = {'posi','nega', 'best', 'worst'}*/
        var makeCommentFromDiff = function(current, currentList, upComingList, type){

            //console.log(currentList);
            //console.log(upComingList);
            //console.log('-------diff----------');
            var addedComments = _.differenceBy(upComingList, currentList, 'commentIdx');
            var removedComments = _.differenceBy(currentList, upComingList, 'commentIdx');

            var posiComments = addedComments.map(function(comment) {
                return makeCommentRow(comment);
            });

            if(current.length === 0){
                $('#'+type+'Content').append(posiComments);
            }else{
                $('#'+type+'Content').prepend(posiComments);
            }

            current.setCommentList(upComingList, type);
        };

        var commentObject = function(){
            this.posiCommentList = [];
            this.negaCommentList = [];
            this.bestCommentList = [];
            this.worstCommentList = [];
        };

        commentObject.prototype.setCommentList = function(upComing, type){
            switch(type){
                case "posi" :
                    this.posiCommentList = upComing;
                    break;
                case "nega" :
                    this.negaCommentList = upComing;
                    break;
                default :
                    break;
            }
        };

        var makeCommentView = function(){
            ajaxCall(
                '/agendaComment/selectAll'
                , {data:{articleIdx : articleIdx}}
                , function (upComingData, jqXHR) {

                    $('#posiCommentsSize').text(upComingData.posiCommentsSize);
                    $('#negaCommentsSize').text(upComingData.negaCommentsSize);
                    if(!agendaComment){
                        agendaComment = new commentObject();
                    }
                    makeCommentFromDiff(agendaComment, agendaComment.posiCommentList,
                        upComingData.posiComments, 'posi');
                    makeCommentFromDiff(agendaComment, agendaComment.negaCommentList,
                        upComingData.negaComments, 'nega');

                }
                , function (jqXHR) {
                    alert("server comment return error");
                }
            );
        };

        userModule.init(function(){}).then(function (user) {
            $('.list_link_to').click(function(){
                location.href = '/heresy/caliber/board?page=1'
            });

            ajaxCall(
                '/agendaBoard/getOneArticle'
                , {data:{articleIdx : articleIdx}}
                , function (data, jqXHR) {
                    $('.rewrite_link_to').click(linkTo);

                    makeArticleView(data);
                    makeCommentView();
                    setInterval(function(){
                        makeCommentView();
                    },10000)

                }
                , function (jqXHR) {
                    alert("server view return error");
                }
            );

            //댓글 작성
           $('#writePosiBtn, #writeNegaBtn').click(writeComment);
        });
    });
</script>
</html>