<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="content">
    <div class="container">
        <div style="height:700px">
            <div style="padding-top: 50px; height: 600px;">
                <div>
                    <input type="text"
                           class="form-control"
                           id="articleTitle"
                           aria-describedby="emailHelp" placeholder="제목을 입력하세요">
                </div>
                <div style="margin-top: 20px;">
                    <div id="summernote"></div>
                </div>
                <div style="float: right; height: 50px; margin-top: 30px;">
                    <button type="button" class="btn btn-dark" id="writeBtn">
                        작성완료
                    </button>
                    <button type="button" class="btn btn-dark"
                            onclick="location.href = '/heresy/caliber/board?page=1'">
                        목록으로
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
        $('#summernote').summernote({
            tabsize: 2,
            height: 400,
            maxHeight : 400
        });

        $('#writeBtn').click(function(){
            console.log(userModule)
            console.log($('#summernote').summernote('code'))
            if($('#articleTitle').val() === ''){
                alert("제목은 필수 입니다.")
                return false;
            }

            var articleData = {
                "title": $('#articleTitle').val(),
                "content" : $('#summernote').summernote('code'),
            };

            userModule
                .firebase
                .auth()
                .currentUser
                .getIdToken(true)
                .then(function(firebaseIdToken) {
                    console.log(firebaseIdToken)
                    ajaxCall(
                        '/agendaBoard/write'
                        ,{
                            method : 'post',
                            data : JSON.stringify(articleData),
                            idToken : firebaseIdToken
                        }
                        ,function(data,jqXHR){
                            console.log(data)
                            alert("write done")
                        }
                        ,function(jqXHR){
                            console.log(jqXHR)
                            alert("server error")
                        }
                    )
                }).catch(function(error) {
                    // Handle error
                    alert(0)
                });
        });
    });


</script>
</html>