<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="content">
    <div class="container">
        <div style="height:700px">
            <div style="padding-top: 50px; height: 600px;">
                <div>
                    <input type="text"
                           class="form-control"
                           id="articleTitle"
                           aria-describedby="emailHelp" placeholder="제목을 입력하세요">
                </div>
                <div style="margin-top: 20px;">
                    <div id="summernote"></div>
                </div>
                <div style="float: right; height: 50px; margin-top: 30px;">
                    <button type="button" class="btn btn-dark" id="writeBtn">
                        작성완료
                    </button>
                    <button type="button" class="btn btn-dark"
                            onclick="location.href = '/heresy/caliber/board?page=1'">
                        목록으로
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){

        var pageView = function(user){
            $('.list_link_to').click(function(){
                location.href = getMidPath() + 'board?page=1';
            });

            if(user){
                $('#summernote').summernote({
                    tabsize: 2,
                    height: 400,
                    maxHeight : 400,
                    callbacks: {
                        onImageUpload: function(files) {
                            // upload image to server and create imgNode...
                            console.log(files)
                            var data = new FormData();
                            data.append('image', files[0]);
                            data.append('articleIdx', '1');

                            uploadImageArticle('/agendaBoard/addImage',data)
                                .then(function(image){
                                    var imageEl = document.createElement('img');
                                    imageEl.src = "/uploadImage/"+image;
                                    $('#summernote').summernote('insertNode', imageEl);
                                });

                        }
                    }
                });

                $('#writeBtn').click(function(){
                    var title = $('#articleTitle');
                    if(title.val() === ''){
                        alert("제목은 필수 입니다.")
                        return false;
                    }

                    var articleData = {
                        "title": title.val(),
                        "content" : $('#summernote').summernote('code'),
                    };

                    writeArticle('/agendaBoard/write', articleData);
                });
            }else{
                location.href = getMidPath() + 'board?page=1';
            }
        };

        userModule.init(pageView);
    });


</script>
</html>